.markdown-editor {
  height: 100%;
  width: 100%;
  display: flex;
}

.editor-pane {
  display: block;
  width: 100%;
  overflow: auto;
  min-height: 420px;
}

.editor textarea {
  padding: 0px;
  border: 0px;
  word-wrap: break-word;
}

#editor-wrapper .ant-upload-drag-container,
#editor-wrapper .ant-upload.ant-upload-drag .ant-upload-btn {
  display: block;
}

#editor-wrapper .ant-upload.ant-upload-drag .ant-upload {
  padding: 0px;
}

#editor-wrapper .ant-upload.ant-upload-drag {
  text-align: left;
  cursor: auto;
}
