@import "@/App.module.scss";

.blog-user-section {
  width: 100%;
  text-align: center;
  font-family: PingFangSC-Medium;
  color: rgba(51, 51, 51, 1);
}
.blog-avatar {
  margin-top: 30px;
}
.blog-username {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 37px;
}
.blog-motto {
  opacity: 0.6;
}
.blog-avatar-icon {
  width: 92px;
  height: 92px;
}

.blog-menu {
  width: 60%;
  margin: 32px auto;
}
.blog-menu-item {
  display: block;
  width: 100%;
  height: 42px;
  text-align: center;
  margin-bottom: 12px;
}

.menu-active {
  background-color: $active-button-color;
  color: #ffffff;
}
