.blog-container {
  min-height: 280px;
  margin: 30px;
  display: flex;
}
.blog-left-pane {
  width: 20%;
  margin-right: 20px;
  background-color: #ffffff;
}
.blog-right-pane {
  width: 75%;
  background-color: #f0f2f5;
}
