$header-height: 64px;
$footer-height: 64px;
$content-padding: 0 50px;
$active-button-color: #1890ff;

.ant-layout-content {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  margin-top: $header-height;
}
